.Content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px 30px;
}

.TagContainer {
  display: flex;
  gap: 10px;
}

.Tag {
  border-radius: 8px;
  border: 0;
  min-width: 12px;
  font-size: 14px;
  display: inline-flex;
  padding: 8px 12px;
  color: #fff;
  background-color: #4a4a4a;
  cursor: pointer;
}

.VideoContainer {
  display: flex;
  flex-wrap: wrap; /* Allows the items to wrap onto multiple lines */
  padding: 30px 0;
  gap: 30px 15px;
}
